# Certificate Verification

## Bypassing Certificate Verification (Optional)

**Note**: Carefully assess this option for production environments.

If using a self-signed certificate, modify the installation snippet:

```
--set tlsInsecureSkipVerify=true
```
